In [1]:
import pandas as pd
df=pd.read_csv('data/train.csv',sep="\t").copy(deep=True)
path='C:\\Users\\efear\\Documents\\GitHub\\Sentiment-Analysis-on-Movie-Reviews\\data\\longest-selective\\'
df.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [2]:
msk=[]
tmp=0

for x in df.SentenceId:
    if x !=tmp:
        msk.append(True)
        tmp=x
    else:
        msk.append(False)
        
msk=pd.Series(msk)
df=df[msk]
df.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
63,64,2,"This quiet , introspective and entertaining in...",4
81,82,3,"Even fans of Ismail Merchant 's work , I suspe...",1
116,117,4,A positively thrilling combination of ethnogra...,3
156,157,5,Aggressive self-glorification and a manipulati...,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8529 entries, 0 to 156039
Data columns (total 4 columns):
PhraseId      8529 non-null int64
SentenceId    8529 non-null int64
Phrase        8529 non-null object
Sentiment     8529 non-null int64
dtypes: int64(3), object(1)
memory usage: 333.2+ KB

In [4]:
df.describe()

            PhraseId   SentenceId    Sentiment
count    8529.000000  8529.000000  8529.000000
mean    81492.254543  4269.683433     2.063196
std     44268.957774  2466.705592     1.276636
min         1.000000     1.000000     0.000000
25%     43992.000000  2133.000000     1.000000
50%     82655.000000  4268.000000     2.000000
75%    119774.000000  6406.000000     3.000000
max    156040.000000  8544.000000     4.000000

In [5]:
df = df.reset_index(drop=True)
df.head(n=20)

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,64,2,"This quiet , introspective and entertaining in...",4
2,82,3,"Even fans of Ismail Merchant 's work , I suspe...",1
3,117,4,A positively thrilling combination of ethnogra...,3
4,157,5,Aggressive self-glorification and a manipulati...,1
5,167,6,A comedy-drama of nearly epic proportions root...,4
6,199,7,"Narratively , Trouble Every Day is a plodding ...",1
7,214,8,"The Importance of Being Earnest , so thick wit...",3
8,248,9,But it does n't leave you with much .,1
9,260,10,You could hate it for the same reason .,1
10,272,11,"There 's little to recommend Snow Dogs , unles...",1
11,307,12,Kung Pow is Oedekerk 's realization of his chi...,1
12,353,13,The performances are an absolute joy .,4
13,364,14,Fresnadillo has something serious to say about...,3
14,408,15,"I still like Moonlight Mile , better judgment ...",3
15,424,16,A welcome relief from baseball movies that try...,3
16,459,17,"a bilingual charmer , just like the woman who ...",3
17,474,18,Like a less dizzily gorgeous companion to Mr. ...,2
18,517,19,As inept as big-screen remakes of The Avengers...,1
19,537,20,It 's everything you 'd expect -- but nothing ...,2

In [6]:
df.to_csv(path+"longestdf.csv", sep='\t')